In [29]:
# import all frameworks needed
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
# import joblib

In [3]:
# import dataset file
df = pd.read_csv('music.csv')
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [4]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     18 non-null     int64
 1   gender  18 non-null     int64
 2   genre   18 non-null     object
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [6]:
df.isna().sum()

age       0
gender    0
genre     0
dtype: int64

In [ ]:
# data parts for ML model (X,y)

In [7]:
X = df.drop(columns=['genre'])
X.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [8]:
y = df['genre']
y.head()

0    HipHop
1    HipHop
2    HipHop
3      Jazz
4      Jazz
Name: genre, dtype: object

In [16]:
# split data to train, test datasets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [20]:
# definition of the model
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

# # first prediction for age 21 and gender male (1) and 22 female (0)
# predictions = model.predict([[21,1],[22,0]])

# prediction form train and test datasets
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

0.75

In [30]:
# visualization through "dot" file
tree.export_graphviz(model, out_file='music_recommender.dot',
                    feature_names=['age', 'gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)